.leagues-block {
    width:30%;
}
.leagues-list {
    margin:0;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.leagues-item {
    list-style: none;
    font-size: 20px;
    color:rgb(7, 7, 165)
}

.leagues-item-span:hover {
    color:rgb(225, 225, 236);
    cursor: pointer;
}

.leagues-item:not(:last-child) {
    margin-bottom: 10px;
}

img {
    width:20px;
    height: 20px;
    margin-right: 10px;
}

